<div class="modal fade" id="carritoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title">Tu Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div id="contenidoCarrito"></div>
        <p id="totalCarrito" class="fw-bold mt-3"></p>
        <div class="d-flex justify-content-between mt-3">
          <button id="vaciarCarrito" class="btn btn-danger">Vaciar carrito</button>
          <button class="btn btn-success btn-agendar">Agendar turno</button>
        </div>
      </div>
    </div>
  </div>
</div>
