<footer>
    <ul>
        <li> <i class="fa-solid fa-phone"></i> <a href="./pages/contacto.html">Contacto</a></li>
        <li> <i class="fa-solid fa-person"></i> <a href="./pages/nosotros.html">Nosotros</a></li>
        <li><i class="fa-brands fa-instagram"></i> <a
                href="https://www.instagram.com/enails_madison?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                target="_blank">Instagram</a></li>
    </ul>
</footer>