<nav class="py-2" style="background-color: #ff6ac6; margin-bottom: 20px;">
  <div class="container">
    <div class="row align-items-center">

      <!-- Columna izquierda -->
      <div class="col d-flex gap-5">
        <a class="nav-link text-white pt-1" href="/contacto">Contacto</a>
        <a class="nav-link text-white pt-1" href="/nosotros">Nosotros</a>
        <a class="nav-link text-white pt-1" href="/alta">Alta</a>
      </div>

      <!-- Columna central con logo centrado -->
      <div class="col text-center">
        <a class="nav-link d-inline-block" href="/">
          <img src="/images/logo.png" alt="Logo" style="width: 60px; height: 70px;">
        </a>
      </div>

      <!-- Columna derecha -->
      <div class="col d-flex justify-content-end align-items-center gap-3">
        <input class="form-control form-control-sm w-auto" type="text" placeholder="Buscar">
        <a href="/carrito" class="position-relative text-white fs-2">
          <i class="bi bi-cart"></i>
        </a>
      </div>

    </div>
  </div>
</nav>
