<nav class="nav d-flex align-items-center px-3 py-2" style="background-color: #ff6ac6; margin-bottom: 20px;">

    <!-- Ítems a la izquierda -->
    <a class="nav-link" href="/">
        <img style="width:50px; height:60px;" src="/images/logo.png" alt="">
    </a>

    <a class="nav-link text-white pt-1 " href="/contacto">Contacto</a>
    <a class="nav-link text-white pt-1 " href="/nosotros">Nosotros</a>
    <a class="nav-link text-white pt-1 " href="/alta">Alta</a>

    <!-- Ítem a la derecha -->
    <div class="ms-auto d-flex align-items-center gap-2 ">
        <input class="form-control form-control-sm" type="text" placeholder="Buscar">
        <a href="/carrito" class="position-relative text-white fs-4">
            <i class="bi bi-cart"></i>
        </a>
    </div>

</nav>