<main class="container my-5">
  <form class="formulario" action="/api/alta" method="POST">

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        class="form-control"
        minlength="4"
        required
      />
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio:</label>
      <input
        type="number"
        id="precio"
        name="precio"
        class="form-control"
        min="0"
        required
      />
    </div>

    <div class="mb-3">
      <label for="categoria" class="form-label">Categoría:</label>
      <input
        type="text"
        id="categoria"
        name="categoria"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="descripCorta" class="form-label">Descripción corta:</label>
      <input
        type="text"
        id="descripcion"
        name="descripcion"
        class="form-control"
        minlength="10"
        required
      />
    </div>

    <button
      type="submit"
      style="background-color: #ff6ac6d2;
    border-color: #f44ab3;"
      class="btn btn-primary"
    >Enviar</button>

  </form>
</main>