<main>
        <form action="">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" minlength="4" name="nombre" required>
            <br> <br>
            <label for="precio">Precio:</label>
            <input type="number" id="precio" min="0" name="precio" required>
            <br> <br>
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" min="0" required>
            <br> <br>
            <label for="marca">Marca</label>
            <input type="text" id="marca"  minlength="4" name="marca" required>
            <br> <br>
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" required>
            <br> <br>
            <label for="descripCorta">Descripción corta</label>
            <input type="text" name="descripCorta" minlength="50" id="descripCorta" required>
            <br> <br>
            <label for="descripLarga">Descripción larga</label>
            <br>
            <textarea name="descripLarga" id="descripLarga" minlength="100" cols="20" rows="5"></textarea>
            <br> <br>
            <button type="submit">Enviar</button>
        </form>
    </main>