<main>
    <h1>Combos </h1>

    <section id="combosBasicos">
        <div id="combo1">
            <h2>Manos de Ángel</h2>
            <p>Manicura tradicional + esmaltado clásico</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo2">
            <h2>Rápida y Bella</h2>
            <p>Manicura express + esmaltado semipermanente</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo3">
            <h2>Pies de seda</h2>
            <p>Pedicura tradicional + esmalte clásico</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </section>

    <section id="combosIntermedios">
        <div id="combo4">
            <h2>Dúo Perfecto</h2>
            <p>Manicura + Pedicura + esmaltado semipermanente</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo5">
            <h2>Uñas de Acero</h2>
            <p>Manicura + refuerzo con gel o acrílico</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo6">
            <h2>Soft Touch</h2>
            <p>Manicura + exfoliación + hidratación + masaje</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </section>

    <section id="combosPremium">
        <div id="combo7">
            <h2>Relax & Glow</h2>
            <p>Manicura + Pedicura + masaje + parafina</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo8">
            <h2>Nails Queen</h2>
            <p>Extensión de uñas + nail art personalizado</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo9">
            <h2>Momento Zen</h2>
            <p>Manicura + Pedicura + aromaterapia + tratamiento hidratante</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </section>

    <h1>Ocasiones Únicas</h1>

    <section>
        <div id="combo10">
            <h2>Bride to Be</h2>
            <p>Manicura + Pedicura + diseño personalizado + exfoliación</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo11">
            <h2>Party Nails</h2>
            <p> Uñas con glitter + pedicura con esmalte neón</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo12">
            <h2>Besties Time</h2>
            <p>Manicura + Pedicura para dos con copa de espumante</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </section>

    <h1>Promociones y Packs Especiales</h1>

    <section>
        <div id="combo13">
            <h2>Spa Monday</h2>
            <p>Manicura + tratamiento hidratante con descuento</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo14">
            <h2>Triple Glam</h2>
            <p>3 sesiones de manicura semipermanente a precio especial</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div id="combo15">
            <h2>Happy Hour Nails</h2>
            <p>Descuento en ciertos horarios del día</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </section>
</main>