<main>
    <h1>Combos </h1>

    <div class="row mt-3" id="combosBasicos">
        <div class="col card text-center" id="combo1">
            <div class="card-header">
                <h5>Manos de Ángel</h5>
            </div> 
            <p>Manicura tradicional + esmaltado clásico</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo2">
            <div class="card-header">
                <h5>Rápida y Bella</h5>
            </div> 
            <p>Manicura express + esmaltado semipermanente</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo3">
            <div class="card-header">
                <h5>Pies de seda</h5>
            </div> 
            <p>Pedicura tradicional + esmalte clásico</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </div>

    <div class="row gx-5" id="combosIntermedios">
        <div class="col card text-center" id="combo4">
            <div class="card-header">
                <h5>Dúo Perfecto</h5>
            </div> 
            <p>Manicura + Pedicura + esmaltado semipermanente</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo5">
            <div class="card-header">
                <h5>Uñas de Acero</h5>
            </div> 
            <p>Manicura + refuerzo con gel o acrílico</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo6">
            <div class="card-header">
                <h5>Soft Touch</h5>
            </div> 
            <p>Manicura + exfoliación + hidratación + masaje</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </div>

    <div class="row" id="combosPremium">
        <div class="col card text-center" id="combo7">
            <div class="card-header">
                <h5>Relax & Glow</h5>
            </div> 
            <p>Manicura + Pedicura + masaje + parafina</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo8">
            <div class="card-header">
                <h5>Nails Queen</h5>
            </div> 
            <p>Extensión de uñas + nail art personalizado</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo9">
            <div class="card-header">
                <h5>Momento Zen</h5>
            </div> 
            <p>Manicura + Pedicura + aromaterapia + tratamiento hidratante</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </div>

    <h1>Ocasiones Únicas</h1>

    <div class="row gx-5">
        <div class="col card text-center" id="combo10">
            <div class="card-header">
                <h5>Bride to Be</h5>
            </div> 
            <p>Manicura + Pedicura + diseño personalizado + exfoliación</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo11">
            <div class="card-header">
                <h5>Party Nails</h5>
            </div> 
            <p> Uñas con glitter + pedicura con esmalte neón</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo12">
            <div class="card-header">
                <h5>Besties Time</h5>
            </div> 
            <p>Manicura + Pedicura para dos con copa de espumante</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </div>

    <h1>Promociones y Packs Especiales</h1>

    <div class="row gx-5">
        <div class="col card text-center" id="combo13">
            <div class="card-header">
                <h5>Spa Monday</h5>
            </div> 
            <p>Manicura + tratamiento hidratante con descuento</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo14">
            <div class="card-header">
                <h5>Triple Glam</h5>
            </div> 
            <p>3 sesiones de manicura semipermanente a precio especial</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
        <div class="col card text-center" id="combo15">
            <div class="card-header">
                <h5>Happy Hour Nails</h5>
            </div> 
            <p>Descuento en ciertos horarios del día</p>
            <a href=""> <button>Agendar turno</button></a>
        </div>
    </div>
</main>