<main class="container my-5">
    <h1 class="text-center mb-4">Trabajos realizados</h1>

    <div class="row g-3">
        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas1.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas2.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas3.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas4.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas5.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas6.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas7.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas8.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas9.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas10.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas11.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="../images/uñas12.jpg" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                    alt="">
            </div>
        </div>

    </div>
</main>