    <main>
        <h1>Trabajos realizados</h1>
            <div>
                <img src="../images/uñas1.jpg" alt="">
                <img src="../images/uñas2.jpg" alt="">
                <img src="../images/uñas3.jpg" alt="">
                <img src="../images/uñas4.jpg" alt="">
                <img src="../images/uñas5.jpg" alt="">
                <img src="../images/uñas6.jpg" alt="">
                <img src="../images/uñas7.jpg" alt="">
                <img src="../images/uñas8.jpg" alt="">
                <img src="../images/uñas9.jpg" alt="">
                <img src="../images/uñas10.jpg" alt="">
                <img src="../images/uñas11.jpg" alt="">
                <img src="../images/uñas12.jpg" alt="">
            </div>
    </main>