    <main>
        <h1>Trabajos realizados</h1>
            <div>
                <img src="../public/images/uñas1.jpg" alt="">
                <img src="../public/images/uñas2.jpg" alt="">
                <img src="../public/images/uñas3.jpg" alt="">
                <img src="../public/images/uñas4.jpg" alt="">
                <img src="../public/images/uñas5.jpg" alt="">
                <img src="../public/images/uñas6.jpg" alt="">
                <img src="../public/images/uñas7.jpg" alt="">
                <img src="../public/images/uñas8.jpg" alt="">
                <img src="../public/images/uñas9.jpg" alt="">
                <img src="../public/images/uñas10.jpg" alt="">
                <img src="../public/images/uñas11.jpg" alt="">
                <img src="../public/images/uñas12.jpg" alt="">
            </div>
    </main>